<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.carbon.model.entity.QuestionSubmit">
        <id property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>
        <result property="language" column="language"/>
        <result property="code" column="code"/>
        <result property="judgeInfo" column="judge_info"/>
        <result property="judgmentResults" column="judgment_results"/>
        <result property="status" column="status"/>
        <result property="temp1" column="temp1"/>
        <result property="temp2" column="temp2"/>
        <result property="temp3" column="temp3"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,question_id,user_id,language,code,judge_info,
        judgment_results,status,temp1,temp2,temp3,
        create_time,update_time,is_delete
    </sql>
</mapper>
